@import "flash";
@import "materialize/components/color";
@import "variables";
@import "materialize";
@import "autocomplete";
@import "jquery-ui";

html, body {
  height: 100%;
}
.container {
  height: 100%;
}

.centerer {
  height:100%;
  display: flex;
  align-items: center;
}
.card {
  .btn {
    margin-right: 0.5rem;
  }
}

@media #{$large-and-up} {
  .key-card {
      margin: 0.5rem 0.5rem 1rem 0;
      min-width: 47%;
      max-width: 47%;
  }
}