@import "flash";
@import "materialize/components/color";
@import "variables";
@import "materialize";
@import "autocomplete";

.container {
  height: 100%;
}

@media #{$large-and-up} {
  .key-card {
      margin: 0.5rem 0.5rem 1rem 0;
      min-width: 47%;
      max-width: 47%;
  }
}