.ui-autocomplete {
    @extend .z-depth-1;
    z-index: 2;
    background-color: #fff;
    position: fixed; // To prevent li elements go to the end of the screen

    li {
        //@extend .col, .s2; // Edit this the way you like it. or to make it the same width as the input
        font-size: 1.2rem;
        color: #26a69a; // Teal color
        line-height: 1.5rem;
        padding: 1rem 1rem;

        &:hover {
            background: #eee;
        }
    }
}
    // Remove unwanted text comming from plugin
.ui-helper-hidden-accessible {
    display: none;
    visibility: hidden;
}